extends layout

mixin movie-card(movie)
    div.movie-card
      a(href=movie.imdbURL)
        h2.movie-title= movie.title
      img.movie-poster(src=movie.posterImage)
      div 
        h3 Cast
        ul.cast
          each actor in movie.cast
            li= actor
      div.rating
        if movie.rating > 5
          img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/thumbsup.png")
        else
          img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/thumbsdown.png")
      ul.genre
        each genre in movie.genres
          li= genre
          
block content
    for movie in movieList
      +movie-card(movie)
